<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Data</title>
</head>
<body>
    <h1 id="header"></h1>
    <button id="submit">Show Record</button>
    <p id="userdata"></p>
    <script>
        const element = document.getElementById('submit')
        element.addEventListener('click', show)
     async function show(event) {
            event.preventDefault()
            document.getElementById("userdata").innerHTML = ''
            document.getElementById("header").innerHTML = ''
            document.getElementById("submit").innerHTML = 'next Record'
            const result = await fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type':'application/json'
                }
            }).then((res) => res.json())

            if(result.status === 'ok'){
                document.getElementById("userdata").innerHTML = JSON.stringify(result.data)
                document.getElementById("header").innerHTML = `record from ${result.count - 10} to ${result.count}`
            }
            else{
                alert(result.error);
            }
        }
    </script>
   

</body>
</html>